.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch.json
*
.gitignore
!IceMan
!IceMan/Actor.h
!IceMan/Actor.cpp
!IceMan/StudentWorld.h
!IceMan/StudentWorld.cpp
IceMan-skeleton-windows_v2/IceMan-skeleton-windows/IceMan-skeleton-windows/IceMan/.vs/IceMan/v17/Browse.VC.db
